*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
    text-decoration: none;
}

body
{
    background-color: rgb(255, 174, 0);
}

$RoleBoxWidth: 30%;
$DefaultWidth: 100%;
$imgWdith: 40%;
$offeset: 25%;
$Hoveroffset: -15%;
$Clickoffset: -5%;
$fontSize: 13px;
.container
{
   
    width: 60%;
    position: fixed;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    //min-height: 450px;
    //overflow: hidden;
    &__user
    {
        position: absolute;
        background-image: linear-gradient(90deg,rgb(255, 153, 0) 30%,white 10%);
        box-shadow: 0 4px 12px 0px rgba(0,0,0,.25);
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
        width: 95%; 
        transform: translate(-50%,-50%);
        left: 50%;
        top: 50%;
        &__img
        {
            width: $imgWdith;
            box-shadow: 0 0 15px grey;
            object-fit: cover;
        }
        &__text
        {
            width: $DefaultWidth - $offeset -$imgWdith;
            height: 70%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            font-size: $fontSize;
            &--role
            {
                //height: 10%;
                width: fit-content;
                background-color: rgb(173, 173, 173);
                padding: 0 15px;
                font-weight: 900;
                box-shadow: 0 0 5px black;
                font-size: 1.5em;
            }
            &--info
            {
                border-bottom: 2px solid orange;                
                height: fit-content;
                width: fit-content;
                font-size: 1.2em;
                font-weight: bold;
                &:nth-last-child(2)
                {
                    font-size: 0.9em;
                    font-weight: normal;
                }
            }
            &--contact
            {
                list-style-type: none;
                display: flex;
                justify-content: space-evenly;
                flex-wrap: wrap;
                width: 100%;
                font-size: 15px;
                
                &--header
                {
                    color: black;
                    &::after
                    {
                        flex-basis: 100%;
                    }
                    font-weight: 900;
                    width: 100%;
                    text-align: center;
                }
                &--item
                {
                    color: black;
                    font-size: 1.5em;
                    a
                    {
                        color: black;
                        &:hover
                        {
                            i
                            {
                                //background-color: green;
                                position: relative;
                                top: $Hoveroffset;
                                
                            }
                        }
                        &:active
                        {
                            i
                            {
                                color: grey;
                                position: relative;
                                top: $Clickoffset;
                            }
                        }
                    }
                }
            }
            
        }
    }
}


@media screen and (max-width: 1200px)
{
    .container
    {
        &__user
        {
            &__text
            {
                font-size: 9px;
                &--contact
                {
                    font-size: 10px;
                }
            }
        }
    }
}

@media screen and (max-width: 850px)
{
    .container
    {
        &__user
        {
            &__text
            {
                font-size: 8px;
                &--contact
                {
                    font-size: 10px;
                }
            }
        }
    }
}