*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
    text-decoration: none;
}

body
{
    background-color: rgb(255, 174, 0);
}

$RoleBoxWidth: 30%;
$DefaultWidth: 100%;
$imgWdith: 40%;
$offeset: 25%;
.container
{
   
    width: 60%;
    position: fixed;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    min-height: 450px;
    &__user
    {
        background-image: linear-gradient(90deg,rgb(255, 153, 0) 30%,white 10%);
        box-shadow: 0 0 30px rgb(65, 65, 65);
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
        width: 100%;
        &__img
        {
            width: $imgWdith;
            box-shadow: 0 0 15px grey;
            object-fit: cover;
        }
        &__text
        {
            width: $DefaultWidth - $offeset -$imgWdith;
            height: 70%;
            display: flex;
            flex-direction: column;
            &--role
            {
                height: 10%;
                width: fit-content;
                background-color: rgb(173, 173, 173);
                padding: 0 15px;
                font-weight: 900;
                box-shadow: 0 0 5px black;
            }
            &--info
            {
                border-bottom: 2px solid orange;                
                height: fit-content;
                width: fit-content;
            }
        }
    }
}
